<div class="{{mediaType}}">
  {{#link-to 'listItems.show' listItem class="list-items__item list-group-item"}}
    {{fa-icon typeIcon size=2 fixedWidth=true class="list-items__item-icon"}}
    <span class="list-items__item-name">{{listItem.name}}</span>
    <button type="button" class="close" aria-label="Close" id="list-item-delete" {{action "deleteListItem" bubbles=false}}>
      <span aria-hidden="true">&times;</span>
    </button>
  {{/link-to}}
</div>
