<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{item.name}}
      <i class="panel-title fa fa-check-circle fa-lg fa-fw fa-pull-right"></i>
    </h3>
  </div>
  <div class="panel-body">
    this is a movie card
  </div>
</div>
