@import 'media-colors';

@mixin list-item-variant($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  &:hover {
    background-color: darken($bg-color, 5%);
    color: $text-color;
  }
  &:focus {
    background-color: darken($bg-color, 5%);
    color: $text-color;
  }
}

.list-items__item-icon {
  padding-right: 10px;
}

.list-items__item-name {
  font-size: 1.25em;
}

.list-group {
  .show .list-items__item {
    @include list-item-variant($show-base-bg, $show-text-color)
  }
  .movie .list-items__item {
    @include list-item-variant($movie-base-bg, $movie-text-color)
  }
  .book .list-items__item {
    @include list-item-variant($book-base-bg, $book-text-color)
  }
  .song .list-items__item {
    @include list-item-variant($music-base-bg, $music-text-color)
  }
  .album .list-items__item {
    @include list-item-variant($music-base-bg, $music-text-color)
  }
  .creator .list-items__item {
    @include list-item-variant($person-base-bg, $person-text-color)
  }
}
