<form {{action "save" on="submit"}} class="create form-inline text-center">
  <div class="form-group">
    {{#x-select value=mediaType class="form-control" action="selectMediaType"}}
      {{#x-option value="movie"}}Movie{{/x-option}}
      {{#x-option value="actor"}}Actor{{/x-option}}
      {{#x-option value="director"}}Director{{/x-option}}
      {{#x-option value="song"}}Song{{/x-option}}
      {{#x-option value="album"}}Album{{/x-option}}
      {{#x-option value="artist"}}Artist{{/x-option}}
      {{#x-option value="book"}}Book{{/x-option}}
      {{#x-option value="author"}}Author{{/x-option}}
    {{/x-select}}
    {{input value=name class="form-control" placeholder="enter item" id="list-item-name"}}
  </div>
  <div class="form-group">
  </div>
  <input type="submit" class="btn btn-default" value="Add To List">
</form>
