{{#search-results search=model.search searchType=model.item.requestedType as |option searchType|}}
  <div class="col-md-6">
    {{component (concat searchType '-option') option=option}}
  </div>
{{/search-results}}
